.sidebar {
    height: 100vh; /* Tam yükseklik */
    position: fixed; /* Sabit konum */
    top: 0; /* Üstten sıfırdan başla */
    left: 0; /* Soldan sıfırdan başla */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Sağdan gölge */
}
  
.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}
  
.sidebar ul {
    list-style: none;
    padding: 0;
}
  
.sidebar li {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}
  
.sidebar li:hover {
    background: #34495e;
}
  
.sidebar-item {
    transition: background 0.3s, transform 0.2s; /* Geçiş efektleri */
}
  
.sidebar-item:hover {
    background: rgba(255, 255, 255, 0.1); /* Hover arka plan rengi */
    transform: scale(1.05); /* Hover durumunda büyütme */
}
  